use_libevent = false
daemonize = false

pidfile = "/cts/prosody/volatile/run/prosody.pid"
certificates = "/cts/prosody/certs";
data_path = "/cts/prosody/persistent/data";
plugin_paths = {
    "/usr/local/lib/prosody-modules";
}

modules_enabled = {
    -- Default Modules
    "admin_adhoc";
    "blocklist";
    "carbons";
    "dialback";
    "disco";
    "pep";
    "posix";
    "private";
    "roster";
    "saslauth";
    "time";
    "tls";
    "uptime";
    "vcard";
    "version";

    -- Additional Modules
{{ range $module := (envSlice "PROSODY_MODULES" ",") }}
    {{ $module | quote }};
{{ end }}
}
modules_disabled = {}

c2s_ports = { 5222 }
s2s_ports = { 5269 }
http_ports = { 5280 }
https_ports = {}
proxy65_ports = { 5000 }

authentication = {{ env "PROSODY_AUTHENTICATION" "internal_hashed" | quote }}
statistics = {{ env "PROSODY_STATISTICS" "internal" | quote }}
storage = {{ env "PROSODY_STORAGE" "internal" | quote }}

sql = {
    driver = {{ env "PROSODY_SQL_DRIVER" "MySQL" | quote }};
    host = {{ env "PROSODY_SQL_HOST" "localhost" | quote }};
    port = {{ env "PROSODY_SQL_PORT" "3306" | toNumber }};
    database = {{ env "PROSODY_SQL_DATABASE" "prosody" | quote }};
    username = {{ env "PROSODY_SQL_USERNAME" "prosody" | quote }};
    password = {{ secret "PROSODY_SQL_PASSWORD" "prosody" | quote }};
}

VirtualHost "localhost"
    modules_disabled = { "tls"; }

Include "/cts/prosody/configs/*.cfg.lua"
