[server]
socket = /cts/mariadb/volatile/mariadb.sock
datadir = /cts/mariadb/persistent/data
tmpdir = /cts/mariadb/volatile/tmp
bind-address = ::
port = 3306

skip-host-cache
skip-name-resolve
max_connect_errors = 18446744073709551615

[client]
protocol = socket
socket = /cts/mariadb/volatile/mariadb.sock
host = localhost
user = mariadb
