[server]
socket = /run/mariadb/mariadb.sock
datadir = /cts/mariadb/data
tmpdir = /tmp/mariadb
bind-address = ::
port = 3306

[client]
protocol = socket
socket = /run/mariadb/mariadb.sock
host = localhost
user = root
