<footer id="footer">
    <section class="footer-primary">
        <div class="container">
            <div class="column-row">
                <div class="column-33">
                    <h5>About SnapServ</h5>
                    <p>
                        We strive to provide our customers with services that meet and exceed their
                        expectations. Feel free to contact us for a custom quote.
                    </p>
                </div>

                <div class="column-66">
                    <div class="column-row align-right-top">
                        <div class="column-33">
                            <h5>Get in touch</h5>
                            <ul class="list-style-icon">
                                <li><a href="{{ .Site.Params.ticketingLink }}" target="_blank"><i
                                            class="fas fa-paper-plane"></i>
                                        Ticket</a></li>
                                <li><a href="mailto:{{ .Site.Params.contactEmailAddress }}"><i
                                            class="fas fa-envelope"></i> Email</a></li>
                            </ul>
                        </div>

                        <div class="column-33">
                            <h5>Products</h5>
                            <ul>
                                <li><a href="{{ ref . "/services/ripe" }}">RIPE LIR Services</a></li>
                                <li><a href="{{ ref . "/services/bgp-tunnel" }}">BGP Tunnels</a></li>
                            </ul>
                        </div>

                        <div class="column-flex">
                            <h5>Resources</h5>
                            <ul>
                                <li><a href="{{ ref . "/company/terms-and-conditions" }}">Terms and Conditions</a></li>
                                <li><a href="{{ ref . "/company/privacy-policy" }}">Privacy Policy</a></li>
                                <li><a href="{{ ref . "/company/about-us" }}">About Us / Imprint</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer-secondary">
        <div class="container">
            <p>Copyright 2019 &copy; SnapServ Mathis. All rights reserved.</p>
        </div>
    </section>
</footer>

<script src="{{ "js/jquery.min.js" | relURL }}"></script>
<script src="{{ "js/headroom.min.js" | relURL }}"></script>
<script src="{{ "js/js.cookie.min.js" | relURL }}"></script>
<script src="{{ "js/imagesloaded.min.js" | relURL }}"></script>
<script src="{{ "js/bricks.min.js" | relURL }}"></script>
<script src="{{ "js/main.min.js" | relURL }}"></script>
