<header id="header" class="header-dynamic header-shadow-scroll">
    <div class="container">
        <a class="logo" href="{{ .Site.BaseURL }}">
            <img src=" {{ "img/logo-hwt-120.png" | relURL }}" alt="{{ .Site.Title }}">
        </a>

        <nav>
            <ul class="nav-primary">
                <li>
                    <a href="{{ .Site.BaseURL }}">Services</a>
                    <ul>
                        <li><a href="{{ ref . "/services/ripe" }}">RIPE LIR Services</a></li>
                        <li><a href="{{ ref . "/services/bgp-tunnel" }}">BGP Tunnels</a></li>
                    </ul>
                </li>
                <li><a href="{{ ref . "/projects" }}">Projects</a></li>
                <li>
                    <a href="{{ ref . "/company/about-us" }}">Company</a>
                </li>
                <li>
                    <a class="button button-secondary" href="{{ .Site.Params.clientAreaLink }}" target="_blank">
                        <i class="fas fa-lock icon-left"></i>Client Login
                    </a>
                </li>
            </ul>

            <ul class="nav-secondary">
                <li><a href="mailto:{{ .Site.Params.contactEmailAddress }}">
                        <i class="fas fa-envelope icon-left"></i> Email</a></li>
                <li><a href="{{ .Site.Params.knowledgeBaseLink }}" target="_blank">
                        <i class="fas fa-question-circle icon-left"></i> Knowledge Base</a></li>
                <li><a href="{{ .Site.Params.statusPageLink }}" target="_blank">
                        <i class="fas fa-check icon-left"></i>Service Status</a></li>
            </ul>
        </nav>
    </div>
</header>
