APP_NAME = {{ env "GITEA_APP_NAME" "Gitea" }}
RUN_MODE = {{ env "GITEA_RUN_MODE" "prod" }}

[log]
MODE = console
ROOT_PATH = /cts/gitea/persistent/data/log

[server]
APP_DATA_PATH = /cts/gitea/persistent/data
ROOT_URL = {{ env "GITEA_ROOT_URL" "" }}
START_SSH_SERVER = true
BUILTIN_SSH_SERVER_USER = git
SSH_DOMAIN = {{ env "GITEA_SSH_DOMAIN" "localhost" }}
SSH_PORT = 2222
HTTP_PORT = 3000
LFS_START_SERVER = false
LFS_CONTENT_PATH = /cts/gitea/persistent/data/lfs

[database]
PATH = /cts/gitea/persistent/data/gitea.db
DB_TYPE = {{ env "GITEA_DATABASE_TYPE" "sqlite3" }}
HOST = {{ env "GITEA_DATABASE_HOST" "localhost:3306" }}
NAME = {{ env "GITEA_DATABASE_NAME" "gitea" }}
USER = {{ env "GITEA_DATABASE_USERNAME" "gitea" }}
PASSWD = {{ secret "GITEA_DATABASE_PASSWORD" "gitea" }}

[service]
DISABLE_REGISTRATION = {{ not (env "GITEA_REGISTRATION" "true" | toBool) }}
REQUIRE_SIGNIN_VIEW = {{ not (env "GITEA_ANONYMOUS" "true" | toBool) }}

[security]
{{- $secretKey := secret "GITEA_SECRET_KEY" "" }}
INSTALL_LOCK = {{ ne $secretKey "" }}
SECRET_KEY = {{ $secretKey }}

[cache]
ADAPTER = {{ env "GITEA_CACHE_ADAPTER" "memory" }}
INTERVAL = {{ env "GITEA_CACHE_INTERVAL" "60" }}
HOST = {{ secret "GITEA_CACHE_HOST" "" }}
ITEM_TTL = {{ env "GITEA_CACHE_ITEM_TTL" "16h" }}

[session]
PROVIDER = {{ env "GITEA_SESSION_PROVIDER" "memory" }}
PROVIDER_CONFIG = {{ secret "GITEA_SESSION_PROVIDER_CONFIG" "/cts/gitea/persistent/data/sessions" }}

[mailer]
ENABLED = {{ env "GITEA_MAILER_ENABLED" "false" | toBool }}
HOST = {{ env "GITEA_MAILER_HOST" "" }}
FROM = {{ env "GITEA_MAILER_FROM" "" }}
USER = {{ env "GITEA_MAILER_USER" "" }}
PASSWD = {{ secret "GITEA_MAILER_PASSWD" "" }}
MAILER_TYPE = {{ env "GITEA_MAILER_TYPE" "smtp" }}
SUBJECT_PREFIX = {{ env "GITEA_MAILER_SUBJECT_PREFIX" "" }}
IS_TLS_ENABLED = {{ env "GITEA_MAILER_TLS" "true" | toBool }}
SKIP_VERIFY = {{ not (env "GITEA_MAILER_TLS_VERIFY" "true" | toBool) }}

[repository]
ROOT = /cts/gitea/persistent/data/repositories

[indexer]
ISSUE_INDEXER_PATH = /cts/gitea/persistent/data/indexers/issues.bleve

[picture]
AVATAR_UPLOAD_PATH = /cts/gitea/persistent/data/avatars
REPOSITORY_AVATAR_UPLOAD_PATH = /cts/gitea/persistent/data/repo-avatars

[attachment]
PATH = /cts/gitea/persistent/data/attachments
