<section class="content-row content-row-color">
    <div class="container">
        <header class="content-header">
            <h2>Looking for a custom solution?</h2>
            <p>We are happy to provide customized solutions tailed to your needs, no matter whether you're an
                individual, small business or large enterprise.</p><br><br>
            <a class="button button-secondary" href="{{ .Site.Params.ticketingLink }}" target="_blank">
                <i class="fas fa-envelope icon-left"></i>Contact us
            </a>
        </header>
    </div>
</section>
