<section class="content-row">
    <div class="container">
        <header class="content-header">
            <h2>Our Features and Values</h2>
        </header>
        <div class="column-row align-center-bottom text-align-center">
            <div class="column-33">
                <i class="fas fa-shield-alt icon-feature"></i>
                <h3>Secure & Reliable</h3>
                <p>We strive to provide our customers with products and services that surpass their expectations.</p>
            </div>
            <div class="column-33">
                <i class="fas fa-life-ring icon-feature"></i>
                <h3>Customer Support</h3>
                <p>We have a passionate support team to answer any enquiries in a friendly and knowledgeable manner.</p>
            </div>
            <div class="column-33">
                <i class="fas fa-sync-alt icon-feature"></i>
                <h3>Quick Activation</h3>
                <p>We usually start processing your order within a business day to get you quickly up and running.</p>
            </div>
        </div>
    </div>
</section>
