{{ with $.Site.Params.testimonials }}
{{ if (reflect.IsSlice .) | and (len .) }}
<section class="content-row content-row-gray">
    <div class="container">
        <header class="content-header">
            <h2>What Our Customers Say</h2>
            <p>We've helped dozens of clients with our RIPE sponsoring LIR services, enabling them to achieve a higher
                flexibility and control over their infrastructure by using their own IP space with BGP.
            </p>
        </header>

        {{ range . }}
        <div class="column-row align-center-bottom">
            <div class="column-33">
                <div class="testimonial">
                    <p class="testimonial-content">
                        {{ .text }}
                    </p>
                    <p class="testimonial-author">
                        <i class="fas fa-user icon-left"></i>{{ .author }}
                    </p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
